.additional-products {

}

.additional-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-products__list {

}

.additional-products__item {
  list-style-type: none;
}

.additional-products__name {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-products__description {
  font-family: "LATO", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-products__description-item {

}

.additional-products__item-button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68B738;
  border: none;
}
