// .advantages {

// }

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

// .advantages__list {

// }

// .advantages__item {

// }

.advantages__item--one {
  background-image: url("../../icons/stack.svg#icon-leaf");
}

.advantages__item--two {
  background-image: url("../../icons/stack.svg#icon-powder");
}

.advantages__item--three {
  background-image: url("../../icons/stack.svg#icon-cutlery");
}

.advantages__item--four {
  background-image: url("../../icons/stack.svg#icon-time");
}

.advantages__description {
  font-family: "LATO", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
