main {
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  background-color: #68b738;
}

.main__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
}

.main__link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
}
